In [2]:
from nba_api.stats.endpoints import teamgamelog
import json
from nba_api.stats.static import teams
import pandas as pd
import numpy as np

In [ ]:
# Fetch all NBA teams
nba_teams = teams.get_teams()

# Convert the list of dictionaries to a DataFrame
teams_df = pd.DataFrame(nba_teams)

# Display the DataFrame
print(teams_df)

            id               full_name abbreviation       nickname  \
0   1610612737           Atlanta Hawks          ATL          Hawks
1   1610612738          Boston Celtics          BOS        Celtics
2   1610612739     Cleveland Cavaliers          CLE      Cavaliers
3   1610612740    New Orleans Pelicans          NOP       Pelicans
4   1610612741           Chicago Bulls          CHI          Bulls
5   1610612742        Dallas Mavericks          DAL      Mavericks
6   1610612743          Denver Nuggets          DEN        Nuggets
7   1610612744   Golden State Warriors          GSW       Warriors
8   1610612745         Houston Rockets          HOU        Rockets
9   1610612746    Los Angeles Clippers          LAC       Clippers
10  1610612747      Los Angeles Lakers          LAL         Lakers
11  1610612748              Miami Heat          MIA           Heat
12  1610612749         Milwaukee Bucks          MIL          Bucks
13  1610612750  Minnesota Timberwolves          MIN   Timberwolves
14  1610612751           Brooklyn Nets          BKN           Nets
15  1610612752         New York Knicks          NYK         Knicks
16  1610612753           Orlando Magic          ORL          Magic
17  1610612754          Indiana Pacers          IND         Pacers
18  1610612755      Philadelphia 76ers          PHI          76ers
19  1610612756            Phoenix Suns          PHX           Suns
20  1610612757  Portland Trail Blazers          POR  Trail Blazers
21  1610612758        Sacramento Kings          SAC          Kings
22  1610612759       San Antonio Spurs          SAS          Spurs
23  1610612760   Oklahoma City Thunder          OKC        Thunder
24  1610612761         Toronto Raptors          TOR        Raptors
25  1610612762               Utah Jazz          UTA           Jazz
26  1610612763       Memphis Grizzlies          MEM      Grizzlies
27  1610612764      Washington Wizards          WAS        Wizards
28  1610612765         Detroit Pistons          DET        Pistons
29  1610612766       Charlotte Hornets          CHA        Hornets

             city                 state  year_founded
0         Atlanta               Georgia          1949
1          Boston         Massachusetts          1946
2       Cleveland                  Ohio          1970
3     New Orleans             Louisiana          2002
4         Chicago              Illinois          1966
5          Dallas                 Texas          1980
6          Denver              Colorado          1976
7    Golden State            California          1946
8         Houston                 Texas          1967
9     Los Angeles            California          1970
10    Los Angeles            California          1948
11          Miami               Florida          1988
12      Milwaukee             Wisconsin          1968
13      Minnesota             Minnesota          1989
14       Brooklyn              New York          1976
15       New York              New York          1946
16        Orlando               Florida          1989
17        Indiana               Indiana          1976
18   Philadelphia          Pennsylvania          1949
19        Phoenix               Arizona          1968
20       Portland                Oregon          1970
21     Sacramento            California          1948
22    San Antonio                 Texas          1976
23  Oklahoma City              Oklahoma          1967
24        Toronto               Ontario          1995
25           Utah                  Utah          1974
26        Memphis             Tennessee          1995
27     Washington  District of Columbia          1961
28        Detroit              Michigan          1948
29      Charlotte        North Carolina          1988

In [5]:
team_id = "1610612739"
season = "2023-24"
season_type = "Regular Season"
team_game_log = teamgamelog.TeamGameLog(
    team_id=team_id, season=season, season_type_all_star=season_type
)
team_game_log_dict = team_game_log.get_dict()
game_log_data = team_game_log_dict["resultSets"][0]["rowSet"]
columns = team_game_log_dict["resultSets"][0]["headers"]
team_game_log_df = pd.DataFrame(game_log_data, columns=columns)

In [6]:
team_game_log_df

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612739,0022301187,"APR 14, 2024",CLE vs. CHA,L,48,34,0.585,240,44,...,0.667,12,31,43,30,4,1,14,8,110
1,1610612739,0022301174,"APR 12, 2024",CLE vs. IND,W,48,33,0.593,240,50,...,0.696,11,30,41,28,9,2,9,14,129
2,1610612739,0022301158,"APR 10, 2024",CLE vs. MEM,W,47,33,0.588,240,37,...,0.724,12,35,47,27,11,10,13,15,110
3,1610612739,0022301132,"APR 07, 2024",CLE @ LAC,L,46,33,0.582,240,42,...,0.852,7,29,36,27,10,2,11,16,118
4,1610612739,0022301127,"APR 06, 2024",CLE @ LAL,L,46,32,0.590,240,39,...,0.667,11,29,40,24,11,3,18,11,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,1610612739,0022300120,"NOV 01, 2023",CLE @ NYK,W,2,3,0.400,240,32,...,0.950,6,40,46,22,7,5,18,27,95
78,1610612739,0022300112,"OCT 31, 2023",CLE vs. NYK,L,1,3,0.250,240,36,...,0.750,14,32,46,19,6,6,15,19,91
79,1610612739,0022300091,"OCT 28, 2023",CLE vs. IND,L,1,2,0.333,240,43,...,0.625,18,33,51,29,2,6,6,16,113
80,1610612739,0022300081,"OCT 27, 2023",CLE vs. OKC,L,1,1,0.500,240,38,...,0.739,8,40,48,20,10,8,13,16,105
81,1610612739,0022300067,"OCT 25, 2023",CLE @ BKN,W,1,0,1.000,240,44,...,0.900,9,29,38,25,10,6,10,23,114