In [2]:
from nba_api.stats.endpoints import leaguegamelog, teamgamelogs
import json
from nba_api.stats.static import teams
import pandas as pd
import numpy as np

In [3]:
teams_df = pd.DataFrame(teams.get_teams())
teams_df.head(5)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [4]:
# Get league game log for 2023 - 2024 season
game_log = leaguegamelog.LeagueGameLog(season="2023-24").get_data_frames()

In [5]:
df = game_log[0]
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [6]:
df.head(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,1610612744,GSW,Golden State Warriors,0022300062,2023-10-24,GSW vs. PHX,L,240,36,...,31,49,19,11,6,11,23,104,-4,1
1,22023,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24,PHX @ GSW,W,240,42,...,43,60,23,5,7,19,22,108,4,1
2,22023,1610612747,LAL,Los Angeles Lakers,0022300061,2023-10-24,LAL @ DEN,L,240,41,...,31,44,23,5,4,12,18,107,-12,1
3,22023,1610612743,DEN,Denver Nuggets,0022300061,2023-10-24,DEN vs. LAL,W,240,48,...,33,42,29,9,6,12,15,119,12,1
4,22023,1610612751,BKN,Brooklyn Nets,0022300067,2023-10-25,BKN vs. CLE,L,240,42,...,37,50,30,6,6,18,16,113,-1,1
5,22023,1610612753,ORL,Orlando Magic,0022300066,2023-10-25,ORL vs. HOU,W,240,42,...,40,57,19,8,6,16,20,116,30,1
6,22023,1610612745,HOU,Houston Rockets,0022300066,2023-10-25,HOU @ ORL,L,240,32,...,24,31,19,6,3,19,24,86,-30,1
7,22023,1610612762,UTA,Utah Jazz,0022300072,2023-10-25,UTA vs. SAC,L,240,41,...,38,54,22,6,2,14,20,114,-16,1
8,22023,1610612758,SAC,Sacramento Kings,0022300072,2023-10-25,SAC @ UTA,W,240,47,...,30,45,29,6,8,12,25,130,16,1
9,22023,1610612746,LAC,LA Clippers,0022300074,2023-10-25,LAC vs. POR,W,240,47,...,31,45,36,11,7,18,20,123,12,1

In [7]:
team_id = "1610612739"
season = "2023-24"
season_type = "Regular Season"
team_game_log = teamgamelogs.TeamGameLogs(
    season_nullable="2023-24", season_type_nullable="Regular Season"
).get_data_frames()

In [8]:
df = team_game_log[0]
df.columns

Index(['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK',
       'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK',
       'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK',
       'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK',
       'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'AVAILABLE_FLAG'],
      dtype='object')

In [9]:
df.head(5)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2023-24,1610612762,UTA,Utah Jazz,0022301198,2024-04-14T00:00:00,UTA @ GSW,L,48.0,46,...,1932,2304,1516,1003,1459,1442,2081,1044,1592,1
1,2023-24,1610612743,DEN,Denver Nuggets,0022301193,2024-04-14T00:00:00,DEN @ MEM,W,48.0,46,...,328,2077,553,1003,140,737,1254,425,366,1
2,2023-24,1610612746,LAC,LA Clippers,0022301199,2024-04-14T00:00:00,LAC vs. HOU,L,48.0,41,...,1776,760,59,267,2012,250,2212,1840,1864,1
3,2023-24,1610612763,MEM,Memphis Grizzlies,0022301193,2024-04-14T00:00:00,MEM vs. DEN,L,48.0,45,...,1932,991,553,2080,1096,968,1494,1413,2062,1
4,2023-24,1610612747,LAL,Los Angeles Lakers,0022301195,2024-04-14T00:00:00,LAL @ NOP,W,48.0,48,...,328,1500,109,1752,25,143,1494,524,321,1

In [10]:
df[df["GAME_ID"] == "0022301198"]

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2023-24,1610612762,UTA,Utah Jazz,0022301198,2024-04-14T00:00:00,UTA @ GSW,L,48.0,46,...,1932,2304,1516,1003,1459,1442,2081,1044,1592,1
26,2023-24,1610612744,GSW,Golden State Warriors,0022301198,2024-04-14T00:00:00,GSW vs. UTA,W,48.0,45,...,121,199,351,690,1096,250,790,583,792,1